body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
}
a {
    color: greenyellow; /* This is a bright green color. */
}

a:hover {
    color: lightseagreen; /* This is a bright magenta color. */
}

iframe {
    width: 100%;
    height: 0%;
    border: none;
}